.header {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
}

.header_content {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}

.header_button {
  font-family: 'Times New Roman', Times, serif;
  width: fit-content;
  font-size: 20px;
}
