.chat-window {
  height: inherit;
  display: grid;
  grid-template-rows: 10% 85% 5%;
}

.chat_h2 {
  border-bottom: 2px solid black;
  margin: auto 5px 5px 5px;
}

.message-list {
  overflow-y: scroll;
}
